@import "../../assets/typography/fonts.scss";

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 225px;
  min-height: 225px;

  margin-bottom: 2rem;
}

.image_container,
.description_container {
  height: 50%;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description {
  text-align: center;
  display: inline-block;
  max-width: 25rem;
  height: 4rem;
  margin-top: 3.5em;
  font-size: $body-xs;
}

@media screen and (max-width: 1024px) {
  .description {
    margin-top: 0;
  }
}
